<p id="notice"><%= notice %></p>

<h1>Students</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Books</th>
    </tr>
  </thead>

  <tbody>
  
  
    <% @students.each do |student| %>
      <tr>
        <td><%= User.where(id: student.user_id).last.username %></td>
        <td><%= Book.where(id: student.book_id).last.title %></td>
        <td><%= link_to 'Show', student %></td>
        <td><%= link_to 'Edit', edit_student_path(student) %></td>
        <td><%= link_to 'Destroy', student, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Student', new_student_path %>

<%= link_to 'Books', books_path %>

<%= link_to 'Users', users_path %>
